* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #0f0f0f;         /* Onyx, background */
  --color-surface: #f1f1f1;    /* Anti-flash white, content/cards */
  --color-primary: #b70e30;    /* Red NCS, CTA/buttons */
  --color-accent: #b7410e;     /* Rust, highlights */
  --color-secondary: #b7960e;  /* Satin sheen gold, borders/accent */
  --color-muted: #808080;      /* Optional gray for subtle elements */
  --color-gradient: linear-gradient(to bottom right, var(--color-secondary), var(--color-accent), var(--color-primary));
}

body {
  background-color: var(--color-bg);
  font-family: Montserrat, Arial, sans-serif;
  padding: 0 3rem;
}

header {
  align-items: center;
  color: var(--color-surface);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  position: relative;
}

header img {
  width: 5rem;
  height: 5rem;
}

header nav {
  align-items: center;
  display: flex;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

header a, footer a {
  color: var(--color-surface);
  margin: 0 1rem;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: var(--color-accent);
}

header p {
  color: var(--color-muted);
  cursor: default;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

section img {
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  width: 100%;
}

footer {
  color: var(--color-muted);
  padding: 1.5rem;
  text-align: center;
}

.gray-border {
  border: 1px solid var(--color-muted);
}

.social a {
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
}

@media (max-width: 600px) {
  section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
