:root {
  --onyx: #0f0f0f;
  --red-ncs: #b70e30;
  --rust: #b7410e;
  --satin-sheen-gold: #b7960e;
  --anti-flash-white: #f1f1f1;
}

body {
  background-color: var(--onyx)
}

.logo {
  display: flex;
  justify-content: center;
  max-width: 100%
}
